
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f9;
    text-align:center;
}

header{
    background:#1565c0;
    color:white;
    padding:30px;
}

main{
    padding:30px;
}

button{
    display:block;
    width:250px;
    margin:15px auto;
    padding:15px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#1976d2;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#0d47a1;
}
#output {
  max-width: 700px;
  margin: 30px auto;
  padding: 25px;
  background: white;
  border-radius: 14px;
}
